.container {
    max-width: 600px;
    display: grid;
    margin: 15px auto;
    grid-template-columns: 200px 300px 100px;
    grid-template-rows: 100px 400px 100px; 
    grid-template-areas: 
        "header header sidebox"
        "nav article sidebox"
        "footer footer sidebox";
    grid-gap: 20px;

}
.header {
    grid-area: header;
}
.nav {
    grid-area: nav; 
}
.article {
    grid-area: article;
}
.sidebox {
  grid-area: sidebox;
}
.footer {
          grid-area: footer;
}
.container>* {
    border: 2px dashed pink;
}